---
slug: whats-wrong
---

<div class="wrapper wrapper--funneling">

    <header class="section-header section-header--underline">
        <h2 class="section-title" itemprop="name headline">What's wrong?</h2>
    </header>

    <div class="section-sub-header">
        <p>
            Here’s what we think. Ops aren’t immutable,
            they’re not available <b>99.99%</b> {% include inline-display-lifecycle.svg %} nor <b>24/7</b> {% include inline-display-availability.svg %}
            <b>they’re not machines</b>.
        </p>
    </div>

    <div class="section-content" itemprop="sectionBody">
        <p>
            A superhero culture exists and unreasonable expectations
            are placed on Ops. We want to change that for the better.
            We want to highlight the importance of the teams running systems,
            not just the systems themselves.
        </p>
        <br />
        <a class="alt-link-1" href="https://github.com/HumanOps/HumanOps/blob/master/HumanOps.rst" target="_blank" title="https://github.com/HumanOps/HumanOps/blob/master/HumanOps.rst">Want to know more on the issue?</a>
    </div>

</div>