---
slug: how-to-change
---

<div class="wrapper wrapper--funneling">

    <header class="section-header section-header--underline">
        <h2 class="section-title" itemprop="headline">How to change?</h2>
    </header>

    <div class="section-sub-header" itemprop="subheadline">
        <p>
            The goal of HumanOps is to improve and maintain
            the good health of your team: easing <b>communication</b> {% include inline-display-communication.svg %}
            reducing <b>fatigue</b> {% include inline-display-fatigue.svg %} and reducing <b>stress</b> {% include inline-display-stress.svg %}
        </p>
    </div>

    <div class="section-content" itemprop="sectionBody">
        <p>
            What’s the point of all this? It’s not about highlighting issues for attention
            or appreciation. It’s about health. The health of your infrastructure is not just
            about hardware, software, automations and uptime - it also includes
            the health and wellbeing of your team.
        </p>
        <br />
        <a class="alt-link-2" href="https://github.com/HumanOps/HumanOps/blob/master/HumanOps.rst" target="_blank" title="https://github.com/HumanOps/HumanOps/blob/master/HumanOps.rst">Want more details?</a>
    </div>

</div>