---
slug: what-can-we-do
sitemap: false
align: section--center
---

<div class="wrapper">
<!--
    <header class="section-header">
        <h2 class="section-title" itemprop="headline">What can we do?</h2>
    </header> -->

    <div class="section-sub-header section-sub-header--tint" itemprop="subheadline">
        <p>We can shape the movement together through talks and collaboration.</p>
    </div>

    <div class="section-content actions-box" itemprop="sectionBody">
        <div class="action-item action-item--meetup">
            <h3>Poznan</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Wed Oct 5, 2016</del>
                <br />
                {% include icon-location.svg %} Pixel Building
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-Poznan/" title="HumanOps Poland">Join the Meetup</a>
        </div>

        <div class="action-item action-item--meetup">
            <h3>San Francisco</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Wed Oct 19, 2016</del>
                <br />
                {% include icon-location.svg %} Nylas HQ
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-SanFrancisco/" title="HumanOps San Francisco">Join the Meetup</a>
        </div>

        <div class="action-item action-item--meetup">
            <h3>London</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Mon Nov 21, 2016</del>
                <br />
                {% include icon-location.svg %} Facebook HQ
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-London/" title="HumanOps London">Join and RSVP</a>
        </div>

        <div class="action-item action-item--contribute">
            {% include logo-github.svg %}
            <p class="item-text">
                {% include icon-calendar.svg %} Any time
                <br />
                {% include icon-location.svg %} Any place
            </p>
            <a target="_blank" class="btn" href="https://github.com/HumanOps/HumanOps" title="https://github.com/HumanOps/HumanOps">GitHub repo</a>
        </div>
    </div>
</div>
