---
slug: what-can-we-do
sitemap: false
align: section--center
---

<div class="wrapper wrapper--dashed-top">

    <header class="section-header">
        <h2 class="section-title" itemprop="headline">What can we do?</h2>
    </header>

    <div class="section-sub-header section-sub-header--tint" itemprop="subheadline">
        <p>
            We can shape it together through talks and collaboration.
        </p>
    </div>

    <div class="section-content section-content--distant actions-box" itemprop="sectionBody">
        <div class="col-1-3 action-item action-item--meetup">
            {% include icon-meetup.svg %}
            <h3>London</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Thu May 19, 2016</del>
                <br />
                {% include icon-location.svg %} The Financial Times
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-London/" title="HumanOps London">Join HumanOps London</a>
        </div>
        <div class="col-1-3 action-item action-item--meetup">
            {% include icon-meetup.svg %}
            <h3>San Francisco</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} Wed June 29, 2016
                <br />
                {% include icon-location.svg %} Yelp! HQ
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-SanFrancisco/" title="HumanOps San Francisco">Join and RSVP</a>
        </div>
        <div class="col-1-3 action-item action-item--contribute">
            {% include logo-github.svg %}
            <h3>Anywhere</h3>
            <p class="item-text">
                Collaborate
                <br />
                to shape it.
            </p>
            <a target="_blank" class="btn" href="https://github.com/HumanOps/HumanOps" title="https://github.com/HumanOps/HumanOps">GitHub repo</a>
        </div>
    </div>

</div>
