---
slug: what-can-we-do
sitemap: false
align: section--center
---

<div class="wrapper">
    <div class="section-sub-header section-sub-header--tint" itemprop="subheadline">
        <p>People are already collaborating around the world at our HumanOps events</p>
    </div>
    <div class="section-content actions-box" itemprop="sectionBody">
        <div class="action-item action-item--meetup action-item--completed">
            <h3>London</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Thu May 19, 2016</del>
                <br />
                {% include icon-location.svg %} <a href="https://www.google.com/maps/place/The+Financial+Times+Ltd/@51.5073202,-0.0968891,17z/data=!3m1!4b1!4m5!3m4!1s0x487604a9c4ccccb1:0x32bf663665a677d0!8m2!3d51.5073169!4d-0.0946951?hl=en">The Financial Times</a>
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-London/" title="HumanOps London">Join the group</a>
        </div>

        <div class="action-item action-item--meetup action-item--completed">
            <h3>San Francisco</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Wed Jun 29, 2016</del>
                <br />
                {% include icon-location.svg %} <a href="https://www.google.com/maps/place/Yelp/@37.7866881,-122.4020772,17z/data=!3m1!4b1!4m5!3m4!1s0x80858087e88cf24b:0xac65e1f5a341c77b!8m2!3d37.7866839!4d-122.3998832?hl=en">Yelp</a>
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-SanFrancisco/" title="HumanOps San Francisco">Join the group</a>
        </div>

        <div class="action-item action-item--meetup action-item--completed">
            <h3>Poznan</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Wed Oct 5, 2016</del>
                <br />
                {% include icon-location.svg %} <a href="https://www.google.com/maps/place/Pixel,+Grunwaldzka+182,+60-166+Pozna%C5%84,+Poland/@52.3914288,16.8558851,17z/data=!3m1!4b1!4m5!3m4!1s0x47044519567b7349:0xe7308834dff3cc66!8m2!3d52.3914255!4d16.8580791?hl=en">Pixel Building</a>
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-Poznan/" title="HumanOps Poland">Join the group</a>
        </div>

        <div class="action-item action-item--meetup action-item--completed">
            <h3>San Francisco</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Wed Oct 19, 2016</del>
                <br />
                {% include icon-location.svg %} <a href="https://www.google.com/maps/place/Nylas/@37.7770661,-122.4145738,17z/data=!3m1!4b1!4m5!3m4!1s0x808580832e83186d:0x34d8d6d8d9b32678!8m2!3d37.7770619!4d-122.4123798?hl=en">Nylas HQ</a>
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-SanFrancisco/" title="HumanOps San Francisco">Join the group</a>
        </div>

        <div class="action-item action-item--meetup action-item--completed">
            <h3>London</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Mon Nov 21, 2016</del>
                <br />
                {% include icon-location.svg %} <a href="https://www.google.com/maps/place/Facebook+London/@51.5257925,-0.1422443,17z/data=!3m1!4b1!4m5!3m4!1s0x487604ccdc5b4b3f:0x683757fbe5e59ea4!8m2!3d51.5257892!4d-0.1400503?hl=en">Facebook HQ</a>
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-London/" title="HumanOps London">Join the group</a>
        </div>

        <div class="action-item action-item--meetup action-item--completed">
            <h3>San Francisco</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Wed Jan 20, 2017</del>
                <br />
                {% include icon-location.svg %} <a href="https://www.google.com/maps/place/PagerDuty+Inc./@37.7717038,-122.4048226,17z/data=!3m1!4b1!4m5!3m4!1s0x8085807905fbeee7:0x18dcca2e5612b01!8m2!3d37.7717038!4d-122.4026339?hl=en">Pager Duty</a>
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-SanFrancisco/" title="HumanOps San Francisco">Join the group</a>
        </div>

        <div class="action-item action-item--meetup">
            <h3>London</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} Tue Feb 07, 2017
                <br />
                {% include icon-location.svg %} <a href="https://www.google.com/maps/place/MOO+Print+Ltd/@51.5203016,-0.1077791,17z/data=!4m12!1m6!3m5!1s0x48761b4f164e8ca7:0xda98c65a50796554!2sMOO+Print+Ltd!8m2!3d51.5202983!4d-0.1055851!3m4!1s0x48761b4f164e8ca7:0xda98c65a50796554!8m2!3d51.5202983!4d-0.1055851?hl=en">Moo HQ</a>
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-London/" title="HumanOps London">Join and RSVP</a>
        </div>

        <div class="action-item action-item--meetup">
            <h3>New York City</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} Coming soon, Mar 2017
                <br />
                {% include icon-location.svg %} TBC
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-NYC/" title="HumanOps NYC">Join and RSVP</a>
        </div>
    </div>

    <div class="run-your-own-event">
        <p>If you&apos;d like to run your own HumanOps meetup, please contact <a href="mailto:david@serverdensity.com?subject=I&#8217;d like to run a HumanOps meetup">david@serverdensity.com</a></p>
    </div>
</div>
