---
slug: what-can-we-do
sitemap: false
align: section--center
---

<div class="wrapper">
    <div class="section-sub-header section-sub-header--tint" itemprop="subheadline">
        <p>People are already collaborating around the world at our HumanOps events</p>
    </div>
    <div class="section-content actions-box" itemprop="sectionBody">
        <div class="action-item action-item--meetup action-item--completed">
            <h3>London</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Thu May 19, 2016</del>
                <br />
                {% include icon-location.svg %} <a target="_blank" href="https://www.google.com/maps/place/The+Financial+Times+Ltd/@51.5073202,-0.0968891,17z/data=!3m1!4b1!4m5!3m4!1s0x487604a9c4ccccb1:0x32bf663665a677d0!8m2!3d51.5073169!4d-0.0946951?hl=en">The Financial Times</a>
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-London/" title="HumanOps London">Join the group</a>
        </div>

        <div class="action-item action-item--meetup action-item--completed">
            <h3>San Francisco</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Wed Jun 29, 2016</del>
                <br />
                {% include icon-location.svg %} <a target="_blank" href="https://www.google.com/maps/place/Yelp/@37.7866881,-122.4020772,17z/data=!3m1!4b1!4m5!3m4!1s0x80858087e88cf24b:0xac65e1f5a341c77b!8m2!3d37.7866839!4d-122.3998832?hl=en">Yelp</a>
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-SanFrancisco/" title="HumanOps San Francisco">Join the group</a>
        </div>

        <div class="action-item action-item--meetup action-item--completed">
            <h3>Poznan</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Wed Oct 5, 2016</del>
                <br />
                {% include icon-location.svg %} <a target="_blank" href="https://www.google.com/maps/place/Pixel,+Grunwaldzka+182,+60-166+Pozna%C5%84,+Poland/@52.3914288,16.8558851,17z/data=!3m1!4b1!4m5!3m4!1s0x47044519567b7349:0xe7308834dff3cc66!8m2!3d52.3914255!4d16.8580791?hl=en">Pixel Building</a>
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-Poznan/" title="HumanOps Poland">Join the group</a>
        </div>

        <div class="action-item action-item--meetup action-item--completed">
            <h3>San Francisco</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Wed Oct 19, 2016</del>
                <br />
                {% include icon-location.svg %} <a target="_blank" href="https://www.google.com/maps/place/Nylas/@37.7770661,-122.4145738,17z/data=!3m1!4b1!4m5!3m4!1s0x808580832e83186d:0x34d8d6d8d9b32678!8m2!3d37.7770619!4d-122.4123798?hl=en">Nylas HQ</a>
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-SanFrancisco/" title="HumanOps San Francisco">Join the group</a>
        </div>

        <div class="action-item action-item--meetup action-item--completed">
            <h3>London</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Mon Nov 21, 2016</del>
                <br />
                {% include icon-location.svg %} <a target="_blank" href="https://www.google.com/maps/place/Facebook+London/@51.5257925,-0.1422443,17z/data=!3m1!4b1!4m5!3m4!1s0x487604ccdc5b4b3f:0x683757fbe5e59ea4!8m2!3d51.5257892!4d-0.1400503?hl=en">Facebook HQ</a>
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-London/" title="HumanOps London">Join the group</a>
        </div>

        <div class="action-item action-item--meetup action-item--completed">
            <h3>San Francisco</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Wed Jan 20, 2017</del>
                <br />
                {% include icon-location.svg %} <a target="_blank" href="https://www.google.com/maps/place/PagerDuty+Inc./@37.7717038,-122.4048226,17z/data=!3m1!4b1!4m5!3m4!1s0x8085807905fbeee7:0x18dcca2e5612b01!8m2!3d37.7717038!4d-122.4026339?hl=en">Pager Duty</a>
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-SanFrancisco/" title="HumanOps San Francisco">Join the group</a>
        </div>

        <div class="action-item action-item--meetup action-item--completed">
            <h3>London</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Tue Feb 07, 2017</del>
                <br />
                {% include icon-location.svg %} <a target="_blank" href="https://www.google.com/maps/place/MOO+Print+Ltd/@51.5203016,-0.1077791,17z/data=!4m12!1m6!3m5!1s0x48761b4f164e8ca7:0xda98c65a50796554!2sMOO+Print+Ltd!8m2!3d51.5202983!4d-0.1055851!3m4!1s0x48761b4f164e8ca7:0xda98c65a50796554!8m2!3d51.5202983!4d-0.1055851?hl=en">Moo HQ</a>
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-London/" title="HumanOps London">Join the group</a>
        </div>

        <div class="action-item action-item--meetup action-item--completed">
            <h3>Poznan</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Wed Feb 15, 2017</del>
                <br />
                {% include icon-location.svg %} <a target="_blank" href="https://www.google.com/maps/place/Pixel,+Grunwaldzka+182,+60-166+Poznań,+Poland/@52.3914288,16.8558851,17z/data=!3m1!4b1!4m5!3m4!1s0x47044519567b7349:0xe7308834dff3cc66!8m2!3d52.3914255!4d16.8580791?hl=en">Allegro HQ</a>
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-Poznan/" title="HumanOps Poland">Join the group</a>
        </div>

        <div class="action-item action-item--meetup action-item--completed">
            <h3>Poznan</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Mon Mar 13, 2017</del>
                <br />
                {% include icon-location.svg %} <a target="_blank" href="https://www.google.com/maps/place/Pixel,+Grunwaldzka+182,+60-166+Poznań,+Poland/@52.3914288,16.8558851,17z/data=!3m1!4b1!4m5!3m4!1s0x47044519567b7349:0xe7308834dff3cc66!8m2!3d52.3914255!4d16.8580791?hl=en">Allegro HQ</a>
            </p>
            <a target="_blank" class="btn" href="https://www.meetup.com/HumanOps-Poznan/" title="HumanOps Poland">Join the group</a>
        </div>
        
        <div class="action-item action-item--metup">
            <h3>Paris</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} Thu Mar 23, 2017
                <br />
                {% include icon-location.svg %} <a target="_blank" href="https://www.google.com/maps/place/D2SI/@48.8739786,2.318128,18z/data=!4m13!1m7!3m6!1s0x47e66fcbb4d11e91:0xae0bb07ba5287038!2s29+Rue+d'Astorg,+75008+Paris,+France!3b1!8m2!3d48.8740386!4d2.3195013!3m4!1s0x0:0x687457edf8cd604e!8m2!3d48.8740779!4d2.3193946?hl=en">D2SI</a>
            </p>
            <a target="_blank" class="btn" href="https://www.meetup.com/fr-FR/HumanOps-Paris/events/238031971/" title="HumanOps Paris">Join and RSVP</a>
        </div>

        <div class="action-item action-item--meetup">
            <h3>Munich</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} Wed Mar 29, 2017
                <br />
                {% include icon-location.svg %} <a target="_blank" href="https://www.google.com/maps/place/Stylight/@48.15055,11.545394,17z/data=!3m1!4b1!4m5!3m4!1s0x479e76092cdda681:0x66e3edd0a24507b0!8m2!3d48.15055!4d11.547588?hl=en">Stylight HQ</a>
            </p>
            <a target="_blank" class="btn" href="https://www.meetup.com/HumanOps-Munich/events/237783425/" title="HumanOps Munich">Join and RSVP</a>
        </div>

        <div class="action-item action-item--meetup">
            <h3>London</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} Tue Apr 04, 2017
                <br />
                {% include icon-location.svg %} <a target="_blank" href="https://www.google.com/maps/place/MOO+Print+Ltd/@51.5203016,-0.1077791,17z/data=!4m12!1m6!3m5!1s0x48761b4f164e8ca7:0xda98c65a50796554!2sMOO+Print+Ltd!8m2!3d51.5202983!4d-0.1055851!3m4!1s0x48761b4f164e8ca7:0xda98c65a50796554!8m2!3d51.5202983!4d-0.1055851?hl=en">Moo HQ</a>
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-London/" title="HumanOps London">Join and RSVP</a>
        </div>

        <div class="action-item action-item--meetup">
            <h3>New York City</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} Tue Apr 25, 2017
                <br />
                {% include icon-location.svg %} <a target="_blank" href="https://www.google.co.uk/maps/place/Work-Bench/@40.7440096,-73.9942458,15z/data=!4m8!1m2!2m1!1s110+5th+Ave!3m4!1s0x89c259a2940015ab:0x6c265a6ac52d92bc!8m2!3d40.737673!4d-73.992925?hl=en">Work-Bench</a>
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-NYC/" title="HumanOps NYC">Join and RSVP</a>
        </div>

        <div class="action-item action-item--meetup">
            <h3>Oxford</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} Tue Apr 25, 2017
                <br />
                {% include icon-location.svg %} <a target="_blank" href="https://www.google.co.uk/maps/place/Oxford+Innovation/@51.7523019,-1.2647371,18z/data=!4m13!1m7!3m6!1s0x4876c6a49af08fe3:0xd3f07541894af05!2sOxford+OX1+1BY!3b1!8m2!3d51.7523119!4d-1.2636535!3m4!1s0x0:0xe762fb3902f83d3!8m2!3d51.7523572!4d-1.2635692?hl=en">Oxford Innovation</a>
            </p>
            <a target="_blank" class="btn" href="https://www.meetup.com/devopsoxford/events/237869568" title="DevOps Oxford">Join and RSVP</a>
        </div>

    </div>

    <div class="run-your-own-event">
        <p>If you&apos;d like to run your own HumanOps meetup, please contact <a href="mailto:david@serverdensity.com?subject=I&#8217;d like to run a HumanOps meetup">david@serverdensity.com</a></p>
    </div>
</div>
