---
slug: what-can-we-do
sitemap: false
align: section--center
---

<div class="wrapper">
    <div class="section-sub-header section-sub-header--tint" itemprop="subheadline">
        <p>People are already collaborating around the world at our HumanOps events</p>
    </div>

    <div class="section-content actions-box" itemprop="sectionBody">
        <div class="action-item action-item--meetup action-item--completed">
            <h3>Poznan</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Wed Oct 5, 2016</del>
                <br />
                {% include icon-location.svg %} Pixel Building
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-Poznan/" title="HumanOps Poland">Join the group</a>
        </div>

        <div class="action-item action-item--meetup action-item--completed">
            <h3>San Francisco</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Wed Oct 19, 2016</del>
                <br />
                {% include icon-location.svg %} Nylas HQ
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-SanFrancisco/" title="HumanOps San Francisco">Join the group</a>
        </div>

        <div class="action-item action-item--meetup action-item--completed">
            <h3>London</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} <del>Mon Nov 21, 2016</del>
                <br />
                {% include icon-location.svg %} Facebook HQ
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-London/" title="HumanOps London">Join the group</a>
        </div>

        <div class="action-item action-item--meetup">
            <h3>New York City</h3>
            <p class="item-text">
                {% include icon-calendar.svg %} Coming soon, Mar 2017
                <br />
                {% include icon-location.svg %} TBC
            </p>
            <a target="_blank" class="btn" href="http://www.meetup.com/HumanOps-NYC/" title="HumanOps NYC">Join and RSVP</a>
        </div>
    </div>

    <div class="run-your-own-event">
        <p>If you&apos;d like to run your own HumanOps meetup, please contact <a href="mailto:david@serverdensity.com">david@serverdensity.com</a></p>
    </div>
</div>
