---
layout: default
---

<div class="home">

  <section class="section-heading">
    <div class="top">
      <h1 class="page-heading">
        <span class="alt-title">HumanOps</span>

        <div class="logo">
            <span class="powered-by">Powered by <a href="https://www.serverdensity.com" target="_blank" title="Server Density">Server Density</a></span>
            {% include humanops-wip.svg %}
        </div>
      </h1>
    </div>
    <div class="bottom">
      <p class="sub-heading">
        <span class="terminal-location">$</span>
        <span class="terminal-command">Let’s focus on the <b>human aspects</b> of running <span class="stick-together">infrastructure<span class="terminal-cursor"></span></span></span>
      </p>
    </div>
  </section>

  <div class="sections-wrapper clearfix">
      {% for section in site.sections %}
        <a name="{{ section.slug}}"></a>
        <section class="section section-{{ section.slug }} {{ section.align }} clearfix">
            {{ section.content }}
        </section>
    {% endfor %}
  </div>
</div>
