<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <script src="{{ "/js/libs/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

    <link href="{{ "/assets/images/favicon.png" | prepend: site.baseurl }}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <!-- More meatadata -->
    <meta property="og:title" content="HumanOps">
    <meta name="description" content="HumanOps is a set of principles which focus on the human aspects of running infrastructure. The health of your infrastructure is not just about hardware, software, automations and uptime - it also includes the health and wellbeing of your team.">
    <meta property="og:description" content="HumanOps is a set of principles which focus on the human aspects of running infrastructure. The health of your infrastructure is not just about hardware, software, automations and uptime - it also includes the health and wellbeing of your team.">
    <meta property="og:url" content="http://www.humanops.com/">
    <meta property="og:site_name" content="HumanOps">
    <meta property="og:image" content="{{ "/assets/images/humanops-banner.png" | prepend: site.baseurl }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@humanops" />
    <meta name="twitter:creator" content="@humanops" />
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "HumanOps",
        "headline": "HumanOps",
        "description": "HumanOps is a set of principles which focus on the human aspects of running infrastructure. The health of your infrastructure is not just about hardware, software, automations and uptime - it also includes the health and wellbeing of your team.",
        "url": "http://www.humanops.com/"
      }
    </script>

</head>
