@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700|Inconsolata:400,700);

$base-font-family:  'Work Sans', Geneva, Verdana, sans-serif;
$secondary-font-family:  'Inconsolata', Tahoma, sans-serif;
$base-font-size:    16px;
$base-font-weight:  400;
$base-line-height:  1.5;

/**
 * Font Size Scale
 * 1.125 ratio (major second)
 * 1.1em (17.6px) base
 * As calculated on:
 * http://www.modularscale.com/?1.1&em&1.125&web&table
 */

$ms16:    7.242rem;
$ms15:    6.437rem;
$ms14:    5.722rem;
$ms13:    5.086rem;
$ms12:    4.521rem;
$ms11:    4.019rem;
$ms10:    3.572rem;
$ms9:     3.175rem;
$ms8:     2.822rem;
$ms7:     2.509rem;
$ms6:     2.23rem;
$ms5:     1.982rem;
$ms4:     1.762rem;
$ms3:     1.566rem;
$ms2:     1.392rem;
$ms1:     1.238rem;
$ms0:     1.1rem;
$ms-1:    0.978rem;
$ms-2:    0.869rem;
$ms-3:    0.773rem;
$ms-4:    0.687rem;
$ms-5:    0.61rem;
$ms-6:    0.543rem;

.ms16       { font-size: 7.242rem; }
.ms15       { font-size: 6.437rem; }
.ms14       { font-size: 5.722rem; }
.ms13       { font-size: 5.086rem; }
.ms12       { font-size: 4.521rem; }
.ms11       { font-size: 4.019rem; }
.ms10       { font-size: 3.572rem; }
.ms9        { font-size: 3.175rem; }
.ms8        { font-size: 2.822rem; }
.ms7        { font-size: 2.509rem; }
.ms6        { font-size: 2.23rem; }
.ms5        { font-size: 1.982rem; }
.ms4        { font-size: 1.762rem; }
.ms3        { font-size: 1.566rem; }
.ms2        { font-size: 1.392rem; }
.ms1        { font-size: 1.238rem; }
.ms0        { font-size: 1.1rem; }
.ms-1       { font-size: 0.978rem; }
.ms-2       { font-size: 0.869rem; }
.ms-3       { font-size: 0.773rem; }
.ms-4       { font-size: 0.687rem; }
.ms-5       { font-size: 0.61rem; }
.ms-6       { font-size: 0.543rem; }